.candy-block {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

@media (max-width: 415px) {
  .candy-block {
    width: 30px;
    height: 30px;
  }
}

/* @media (max-width: 431px) {
  .candy-block {
    width: 38px;
    height: 38px;
  }
} */
