body {
  margin: 0;
  padding: 0;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/1023/692/28/video-game-candy-crush-soda-saga-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  overflow: hidden; /* This ensures that the background covers the entire page */
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-data {
  /* display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  gap: 10px; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  justify-items: center;
  margin: 10px 0;
}
.game-grid-container {
  margin-top: 8px;
}

.score-box {
  background: pink;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-family: cursive;
}
